.red{
    color: red;
}
.yokiko{
    width: 900px;
    height: 200px;
    background-color: red;
    text-align: center;
}

.big{
    font-size: 30px;
}
.box{
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
    background-color: blue;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: red;  
}
.box3{
    width: 100px;
    height: 100px;
    background-color:green;
}
.wrapper{
    display: flex;
}
.big{
    font-size: 30px;
}
.box4{
    width: 100px;
    height: 100px;
    background-color:green;
}
.box5{
    width: 100px;
    height: 100px;
    background-color:blue;  
}
.box6{
    width: 100px;
    height: 100px;
    background-color:red;
}
.main{
    display: flex;
}
.big{
}
.box7{
    width: 100px;
    height: 120px;
    background-color: blue;
}
.box8{
    width: 100px;
    height: 120px;
    background-color: red;
}
.main2{
    display:flex
    flex-direction:column
}
.big{
}
.box9{
    width: 100px;
    height: 80px;
    background-color: black;
}
.box10{
    width: 100px;
    height: 80px;
    background-color: green;
}
.box11{
    width: 100px;
    height: 80px;
    background-color: blue;
}
.main3{
    display:flex
    flex-flow:column
}
.big{
}
.box12{
    width: 100px;
    height: 30px;
    background-color: red;
}
.box13{
    width: 100px;
    height: 90px;
    background-color: yellow;
}
.box14{
    width: 100px;
    height: 120px;
    background-color: green;
}
.main4{
    display: flex;
    flex-flow:column;
}
.contain{
    display: flex;
}