.red{
    color: red;
}
.yokiko{
    width: 900px;
    height: 200px;
    background-color: red;
    text-align: center;
}

.big{
    font-size: 30px;
}
.box{
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
    background-color: blue;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: red;  
}
.box3{
    width: 100px;
    height: 100px;
    background-color:green;
}
.wrapper{
    display: flex;
}
.big{
    font-size: 30px;
}
.box4{
    width: 100px;
    height: 100px;
    background-color:green;
}
.box5{
    width: 100px;
    height: 100px;
    background-color:blue;  
}
.box6{
    width: 100px;
    height: 100px;
    background-color:red;
}
.main{
    display: flex;
}
.big{
}
.box7{
    width: 100px;
    height: 120px;
    background-color: blue;
}
.box8{
    width: 100px;
    height: 120px;
    background-color: red;
}
.main2{
    display:flex
    flex-direction:column
}
.big{
}
.box9{
    width: 100px;
    height: 80px;
    background-color: black;
}
.box10{
    width: 100px;
    height: 80px;
    background-color: green;
}
.box11{
    width: 100px;
    height: 80px;
    background-color: blue;
}
.main3{
    display:flex
    flex-flow:column
}
.big{
}
.box12{
    width: 100px;
    height: 30px;
    background-color: red;
}
.box13{
    width: 100px;
    height: 90px;
    background-color: yellow;
}
.box14{
    width: 100px;
    height: 120px;
    background-color: green;
}
.main4{
    display: flex;
    flex-flow:column;
}
.contain{
    display: flex;
}
.big{
}
.box15{
    width: 300px;
    height: 30px;
    background-color: blue;
}
.box16{
    width: 230px;
    height: 140px;
    background-color: red;
}
.box17{
    width: 70px;
    height: 140px;
    background-color: black;
}
.box18{
    width: 300px;
    height: 30px;
    background-color: green;
}
.main5{
    display: flex;
}
.big{
}
.box19{
    width: 300px;
    height: 30px;
    background-color: lightblue;
}
.box20{
    width: 300px;
    height: 70px;
    background-color: red;
}
.box21{
    width: 200px;
    height: 100px;
    z-index: 1;
    background-color: yellow;
}
.box22{
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: yellowgreen;
}
.main6{
    display: flex;
}
.wrap{
    position: relative;
}
.liteblue{
    position: absolute;
    width: 160px;
    height: 30px;
    z-index: 3;
    background-color: lightblue;
    top: 120px;
    left: 20px;
}
.liteblue2, .liteblue3, .liteblue4, .liteblue5, .liteblue6{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: lightblue;
    z-index: 10;
}
.liteblue2{
    background-color: lightblue;
    top: 160px;
    left: 20px;
}
.liteblue3{
    background-color: lightblue;
    top: 160px;
    left: 55px;
}
.liteblue4{
    background-color: lightblue;
    top: 160px;
    left: 90px;
}
.liteblue5{
    background-color: lightblue;
    top: 160px;
    left: 125px;
}
.liteblue6{
    background-color: lightblue;
    top: 160px;
    left: 160px;
}
.liteblue7{
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 3;
    background-color: lightblue;
    top: 115px;
    left: 215px;
}